body{
    margin: 0;
    font-family: cursive;
    background-color: rgb(124, 124, 222);
}
.container h2{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container{
        display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
}
.year{
    font-size: 5em;
    color: aliceblue;
    font-weight: bold;
}
.Countdown{
    margin: 30px;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.1);
    color: aliceblue;
    overflow: hidden;
}
.Countdown div{
    margin:0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-emphasis: center;
    width: 100px;
}
.Countdown div::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 0.40em;
    text-transform: uppercase;
    line-height: 35px;
    font-weight: 100;
    width: 100%;
    height: 35px;



}
.Countdown #day::before{
    content: "Days";
}
.Countdown #hour::before{
    content: "Hour";
}
.Countdown #min::before{
    content: "Minutes";
}
.Countdown #sec::before{
    content: "Second";
}