body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.password_container{
   background-color: rgb(144, 144, 235); 
   width: 500px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0,0,0,.3);
   margin: 10px;
}
.input_container{
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: none;
    background-color:  transparent;
    outline:  none;
    font-size: 24px ;
    letter-spacing: 4px;

}
.input::placeholder{
    letter-spacing: 0px;
}
.fa-copy{
    cursor: pointer;
    opacity: .3;
}
.fa-copy:hover{
   opacity: 0.7; 
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px ;
    border-radius:  5px;
    margin: 10px 0 ;
    font-size: 20px ;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(63, 210, 63);
}
.btn:active{
    transform: scale(1) ;
}
.alerate-containor{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color:  lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius:10px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items:  center ;
    justify-content: center;
    font-size: 20px;
}
.active.alerate-containor{
    right: -300px;
}
